body {
  font-family: 'Montserrat', sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  height: 85px;
  flex-wrap: wrap;
}

.nav-logo {
  width: auto;
  height: 100%;
}

.nav-menu {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.header {
  text-align: center;
  height: 670px;
  padding-top: 20%;
}

.header-logo {
  width: 400px;
}

@media query {

}
